.text{
	width:20%;
	margin-right: auto;
	margin-left: auto;
	font-size: 18px;
	width: 206px;
}
.btn{
	margin-bottom: 5px;
}
.plusMinus{
	padding-right: 12px;
	padding-left: 12px;
}
.jumbotron{
	margin-top: 20px;
}